# --- Dati e Database (Fondamentale) ---
data/
warehouse.duckdb
warehouse.duckdb.wal
synthetic/
# --- Sicurezza ---
.env

# --- Python & Ambiente (Fondamentale) ---
__pycache__/
.venv/
venv/
*.pyc

# --- Strumenti ---
.prefect/
.DS_Store
